{% extends "base.html" %}
{% block head %}
<style>
table,th,td
{
border-spacing:10px;
}
td
{
width: 150px;
height: 150px;
table-layout: fixed;
overflow : hidden;
}
</style>
{% endblock %}
{% block content %}
Here is the list of image:
<p>
  {% if results is defined-%}
  <table>
    <tr>
  {%- for i in results -%}
  <td>
<img width=70 height=70 src='image_thumbnail?i={{i["index"]}}'/> <br>
Name: <a href=image?i={{i["index"]}}>{{i["file_name"]}}</a> </br>
Description: {{i["description"]}} <br>
</td>
  {% if loop.index is divisibleby 4 %} </tr><tr> {% endif %}
  {%-endfor-%}
  <tr>
</table>
  {%-else-%} No image found
  {%-endif-%}
{% endblock %}
