{% extends "base.html" %}
{% block title %}
Environ
{% endblock %}
{% block content %}
<h1>Environ</h1>
GROUP: gnats<br>
REMOTEHOST: user-117c85.user.msu.edu<br>
SERVER_PROTOCOL: HTTP/1.1<br>
LINES: 24<br>
LPDEST: please_set_printer_name_in_your_dotfiles<br>
QUERY_STRING: <br>
SSH_CLIENT: 35.11.151.148 54250 22<br>
REQUEST_METHOD: GET<br>
LOGNAME: phammin1<br>
USER: phammin1<br>
HOME: /user/phammin1<br>
OPENWINHOME: /usr/openwin<br>
PATH: /user/phammin1/cse491/cse491.env/bin:/soft/linux/bin:/usr/local/bin:/usr/bin:/bin:/usr/bin/X11:/usr/games:/usr/X11R6/bin:/usr/local/bin:/user/phammin1/bin:/usr/local/IBMJava2-13/bin:.:/user/csearch/bin:/usr/X11R6/bin:/user/phammin1/bin<br>
DISPLAY: localhost:12.0<br>
CONTENT_LENGTH: <br>
VIRTUAL_ENV: /user/phammin1/cse491/cse491.env<br>
SHELL: /bin/tcsh<br>
HTTP_CONNECTION: keep-alive<br>
SERVER_NAME: arctic.cse.msu.edu<br>
REMOTE_ADDR: 35.11.151.148<br>
SHLVL: 1<br>
wsgi.url_scheme: http<br>
MANPATH: /usr/share/man:/usr/man:/opt/man:/usr/local/man<br>
OSTYPE: linux<br>
VENDOR: unknown<br>
SERVER_PORT: 8009<br>
wsgi.file_wrapper: wsgiref.util.FileWrapper<br>
SERVER_SOFTWARE: WSGIServer/0.1 Python/2.7.4<br>
NNTPSERVER: nntp<br>
TERM: xterm<br>
HOST: arctic<br>
HTTP_USER_AGENT: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:20.0) Gecko/20100101 Firefox/20.0<br>
HTTP_HOST: arctic.cse.msu.edu:8009<br>
HOSTTYPE: x86_64-linux<br>
wsgi.multithread: True<br>
COLUMNS: 80<br>
HTTP_ACCEPT: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8<br>
MACHTYPE: x86_64<br>
wsgi.version: (1, 0)<br>
GATEWAY_INTERFACE: CGI/1.1<br>
wsgi.run_once: False<br>
SSH_TTY: /dev/pts/14<br>
SCRIPT_NAME: <br>
wsgi.multiprocess: False<br>
HTTP_ACCEPT_LANGUAGE: en-US,en;q=0.5<br>
wsgi.input: <socket._fileobject object at 0x156dc50><br>
wsgi.errors: <open file '<stderr>', mode 'w' at 0x7fb9b49be1e0><br>
PWD: /user/phammin1/cse491/cse491-serverz<br>
CONTENT_TYPE: text/plain<br>
MAIL: /user/mail/phammin1/Maildir<br>
SSH_CONNECTION: 35.11.151.148 54250 35.9.20.20 22<br>
REMOTE_HOST: user-117c85.user.msu.edu<br>
HTTP_ACCEPT_ENCODING: gzip, deflate<br>
OPTDIR: /opt<br>
PATH_INFO: /environ<br>

{% endblock %}
